@model IEnumerable<Gighub.Models.ApplicationUser>
@{
    ViewBag.Title = "Following";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Who I'm following</h2>

<ul>
    @foreach (var artist in Model)
    {
    <li>@artist.Name</li>
    
    }
</ul>

